---
import Head from "../components/layout/Head.astro";
import Nav from "../components/layout/Nav.astro";
import Footer from "../components/layout/Footer.astro";

const { title } = Astro.props;

// Fonts
import "@fontsource-variable/inter";

// Styles
import "../scss/main.scss";
---

<html lang="pl">
	<head>
		<Head {title} />
	</head>
	<body>
		<Nav />
		<slot />
		<Footer />
	</body>
</html>
